/* CSS for styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #221c9c;
  }
  
  header {
    background-color: #fff;
    color: #1236abac;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #157ac8d0;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a {
    color: #112f9ec5;
    text-decoration: none;
    padding: 5px 10px;
  }

  nav a:hover {
    background-color: #1a139f;
    color: #2014c1;
  }

  main {
    margin: 20px;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    background-color: #26a2b8;
  }
  
  footer {
    background-color: #108bb4;
    color: #1a2ab5;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }